{
  "extends": [
    "react-app",
    "prettier"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "space-before-function-paren": ["error", {"anonymous": "never", "named": "never", "asyncArrow": "never"}]
  },
  "plugins": [
    "prettier"
  ]
}
