{
  "extends": [
    "react-app",
    "prettier"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "space-before-function-paren": ["error", "never"]
  },
  "plugins": [
    "prettier"
  ]
}
