body {
  background: #fdfdfd;
}

.invalid-feedback {
  display: block;
}

.loader-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-tabs .link.active, .nav-tabs .nav-item.show .link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .link {
  cursor: pointer;
}
.nav-tabs .link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.link {
  display: block;
  padding: 0.5rem 1rem;
}

.movie-page {
  margin: 20px;
}

.media-film-card__img {
  width: 300px;
}
.media-film-card__body {
  margin: 0 0 20px 20px;
}

.actor-avatar {
  margin: 2px;
}
